
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html><!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Media &amp; Outreach | Department of Biology  | University of Fribourg</title>| Department of Biology  | University of Fribourg</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <link href="https://cdn.unifr.ch/uf/v2.4.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdn.unifr.ch/uf/v2.4.3/css/main.css" rel="stylesheet"/>
    






    <link rel="shortcut icon" type="image/ico" href="https://cdn.unifr.ch/sharedconfig/favicon/favicon.ico"/>
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="https://cdn.unifr.ch/uf/v2.4.3/css/old_ie.css" rel="stylesheet"/><![endif]-->
    <script src="//cdn.unifr.ch/uf/v2.4.3/js/modernizr.js"></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="en" href="https://unifr-websites.bitbucket.io/outreach_wegmann.html"">
        
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager --> 

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    

<link href="https://cdn.unifr.ch/uf/v2.4.3/css/corr.css" rel="stylesheet"/>

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    <base href="https://www.unifr.ch/bio/en/" />
    
<link rel="stylesheet" href="https://cdn.unifr.ch/uf/v2.4.3/css/directory.css" type="text/css" />
<style>
             span.labauthor { text-decoration: underline; font-weight: 700; }
             span.papertitle { font-style: italic; }
             span.journal { font-weight: 900; color: #0085c6; }
             ol.paperliststart { counter-reset: papercounter; }
             ol.paperliststart li, ol.paperlistcontinue li { list-style: none; } 
             ol.paperliststart li:before, ol.paperlistcontinue li:before { content: counter(papercounter) ". "; counter-increment: papercounter;}
             </style></head>
<body data-lang="en" class="green">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="javascript:;" class="open-offcanvas square bg-branded hover hidden-desktop"></a><a href="javascript:;" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Show more results</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"/><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="https://www.unifr.ch/bio/" checked="checked" id="local-" class="hidden"/>
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden"/>
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">No results</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Quick Links
</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container meta-border">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">University</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/en" title="Studies: Bachelor, Master, Doctorate">Studies</a></li>
                            <li><a href="https://www.unifr.ch/campus/en" title="Campus life">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/en" title="Research">Research</a></li>
                            <li><a href="https://www.unifr.ch/uni/en" title="University">University</a></li>
                            <li><a href="https://www.unifr.ch/formcont/en"  title="Continuing education">Continuing education</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Faculties</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/" title="Faculty of Theology" ><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Theology</a></li>
                            <li><a href="https://www.unifr.ch/ius/" title="Faculty of Law"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Law</a></li>
                            <li><a href="https://www.unifr.ch/ses/" title="Faculty of Economics and social sciences"><span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Management, Economics and Social sciences</a></li>
							<li><a href="https://www.unifr.ch/lettres/" title="Faculty of Humanities"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Humanities</a></li>
							<li><a href="https://www.unifr.ch/eduform/" title="Faculty of Education"><span class="glyphicon glyphicon-stop color-violet" aria-hidden="true"></span> Education</a></li>
                            <li><a href="https://www.unifr.ch/scimed/" title="Faculty of Sciences and Medicine"><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Science and Medicine</a></li>
                            <li><a href="https://www.unifr.ch/faculties/en/interfaculty.html" title="Interfaculty"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfaculty</a></li>
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/en/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">You are</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/en/prospective-students/" title="You are... Prospective student">Prospective students</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/students/" title="You are... Student">Students</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/medias/" title="You are... Media">Medias</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/researchers/" title="You are... Researcher">Researchers</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/employees/" title="You are... Employee">Employees</a></li>
							<li><a href="https://www.unifr.ch/you-are/en/phd-students/" title="You are... PhD student">PhD students</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg hidden-md" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressources</a>
                    <nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/en"><span class="fa fa-user fa-fw" aria-hidden="true"></span> Directory</a></li>
                            <li><a href="https://www.unifr.ch/map"><span class="fa fa-map-signs fa-fw" aria-hidden="true"></span> Maps/Orientation</a></li>
                            <li><a href="https://www.unifr.ch/biblio"><span class="fa fa-book fa-fw" aria-hidden="true"></span> Libraries</a></li>
                            <li><a href="https://outlook.com/unifr.ch"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> Webmail</a></li>
                            <li><a href="https://www.unifr.ch/timetable/en/"><span class="fa fa-calendar fa-fw" aria-hidden="true"></span> Course catalogue</a></li>
                            <li><a href="https://my.unifr.ch"><span class="fa fa-lock fa-fw" aria-hidden="true"></span> MyUnifr</a></li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
    </div>
</div>

                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="https://unifr-websites.bitbucket.io/outreach_wegmann.html"" class=" bold">EN</a></li>
    </ul>
</nav>

                <!-- Global Breadcrumb -->
                


<div class="breadcrumbs square">

    <a href="https://www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler"><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="https://www.unifr.ch" class="gfx gfx-home"></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li >
                    <a href="https://www.unifr.ch/scimed" class="short">Faculty of Science and Medicine</a>
                    <a href="https://www.unifr.ch/scimed" class="long">Faculty of Science and Medicine</a>
                </li>
                
                <!-- level 2 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="https://www.unifr.ch/bio" class="short">Department of Biology</a>
                    <a href="https://www.unifr.ch/bio" class="long">Department of Biology</a>
                </li>
                
                <!-- level 3 -->
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Show more results</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="https://www.unifr.ch/bio/" id="local-" class="hidden" checked="checked"/>
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden" />
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">No results</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square">EN</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="https://unifr-websites.bitbucket.io/outreach_wegmann.html"" class="square bg-white hover  bold">EN</a></li>
        </ul>
    </div>
</nav>
                    <a href="javascript:;" class="close-offcanvas square hover bg-marine"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            
                        </nav>
                        

<h1 class="logo"><span class="sr-only">University of Fribourg</span><a href="https://www.unifr.ch"><img src="//cdn.unifr.ch/uf/v2.4.3/gfx/logo.png"/></a></h1>

<p class="service-menu--department"><a href="https://www.unifr.ch/bio/en/">Department of Biology</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        

<!-- start outerTpl -->
<ul>
    <li class="first"><a href="https://www.unifr.ch/bio/en/" title="Home" >Home</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/info/agenda/" title="News & Events"   class="deeper">
		News & Events
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/info/news/" title="News" >News</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/agenda/" title="Agenda" >Agenda</a></li>


<!-- start parentRowTpl -->
<li class="last">
	<a href="https://www.unifr.ch/bio/en/info/media/" title="Media & Outreach"   class="deeper">
		Media & Outreach
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/info/media/activity-reports.html" title="Activity reports" >Activity reports</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/media/welcome-guide.html" title="Welcome Guide" >Welcome Guide</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/media/social-media.html" title="Social Media" >Social Media</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/media/outreach.html" title="Science & society" >Science & society</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/info/media/merchandising.html" title="Merchandising" >Merchandising</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/department/" title="Department"   class="deeper">
		Department
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/department/organisation.html" title="Organisation" >Organisation</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/staff/" title="Staff" >Staff</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/professorships.html" title="SNSF Professorships" >SNSF Professorships</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/jobs.html" title="Open Positions" >Open Positions</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/department/contact.html" title="Contact" >Contact</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/studies/" title="Studies"   class="deeper">
		Studies
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/studies/bachelor/" title="Bachelor" >Bachelor</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/master/" title="Master" >Master</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/doctorate/" title="Doctorate" >Doctorate</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/graduate-school-fglm/" title="Graduate School FGLM" >Graduate School FGLM</a></li>
<li><a href="https://www3.unifr.ch/scimed/fr/studies/minors" title="Minors" >Minors</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/courses-and-exams.html" title="Courses and Exams" >Courses and Exams</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/apprenticeships/" title="Apprenticeships" 293>Apprenticeships</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/studies/fachschaft-alumni.html" title="Alumni & Fachschaft Biologie" >Alumni & Fachschaft Biologie</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/" title="Research"   class="deeper">
		Research
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/groups-in-alphabetical-order/" title="Groups in alphabetical order" >Groups in alphabetical order</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/biochemistry/" title="Biochemistry"   class="deeper">
		Biochemistry
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/biochemistry/albrecht.html" title="Albrecht Group" >Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/de-virgilio.html" title="De Virgilio Group" >De Virgilio Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/dengjel.html" title="Dengjel Group" >Dengjel Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/kressler.html" title="Kressler Group" >Kressler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/schneiter.html" title="Schneiter Group" >Schneiter Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/biochemistry/vanni-group.html" title="Vanni Group" >Vanni Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/bioinformatics/" title="Bioinformatics"   class="deeper">
		Bioinformatics
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/bioinformatics/allard-group.html" title="Allard Group" >Allard Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/falquet.html" title="Falquet Group" >Falquet Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/parisod-group.html" title="Parisod Group" >Parisod Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/silvestro-group.html" title="Silvestro Group" >Silvestro Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/vanni.html" title="Vanni Group" >Vanni Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/bioinformatics/wegmann.html" title="Wegmann Group" >Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/eco-evol/" title="Ecology and Evolution"   class="deeper">
		Ecology and Evolution
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/eco-evol/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/bacher.html" title="Bacher Group" >Bacher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/bersier.html" title="Bersier Group" 216>Bersier Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/flatt.html" title="Flatt Group" >Flatt group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/gilbert-group.html" title="Gilbert Group" >Gilbert group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/kozlowski.html" title="Kozlowski Group" >Kozlowski Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/le-boeuf-group.html" title="LeBoeuf Group" >LeBoeuf Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/parisod-group.html" title="Parisod Group" >Parisod group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/rohr.html" title="Rohr Group" >Rohr Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/silvestro-group.html" title="Silvestro Group" >Silvestro Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/eco-evol/wegmann-group.html" title="Wegmann Group" >Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/" title="Neuro and Developmental Biology"   class="deeper">
		Neuro and Developmental Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/egger.html" title="Egger Group" >Egger Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/glauser.html" title="Glauser Group" >Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/jazwinska.html" title="Jazwinska Group" >Jazwinska Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/sprecher.html" title="Sprecher Group" >Sprecher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/puoti.html" title="Puoti group" >Puoti group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/wicky.html" title="Wicky Group" 239>Wicky Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/" title="Plant and Microbial Sciences"   class="deeper">
		Plant and Microbial Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/allard-group.html" title="Allard Group" 230,2016>Allard Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/geisler.html" title="Geisler Group" >Geisler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/hazak-group.html" title="Hazak Group" >Hazak Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/ranf-group.html" title="Ranf Group" >Ranf Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/reinhardt.html" title="Reinhardt Group" >Reinhardt Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/weisskopf.html" title="Weisskopf Group" 238>Weisskopf Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/genetics/" title="Genetics"   class="deeper">
		Genetics
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/genetics/albrecht.html" title="Albrecht Group" >Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/egger.html" title="Egger Group" >Egger Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/flatt.html" title="Flatt group" >Flatt group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/glauser.html" title="Glauser Group" >Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/kressler.html" title="Kressler Group" >Kressler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/parisod-group.html" title="Parisod Group" >Parisod Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/puoti.html" title="Puoti Group" >Puoti Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/sprecher.html" title="Sprecher Group" >Sprecher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/wicky.html" title="Wicky Group" >Wicky Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/genetics/wegmann-group.html" title="Wegmann Group" >Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/proteomic/" title="Proteomics"   class="deeper">
		Proteomic
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/proteomic/dengjel.html" title="Dengjel Group" >Dengjel Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/proteomic/kressler.html" title="Kressler Group" >Kressler Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/conservation-biology/" title="Conservation Biology"   class="deeper">
		Conservation Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/conservation-biology/bacher.html" title="Bacher Group" >Bacher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/conservation-biology/kozlowski.html" title="Kozlowski Group" >Kozlowski Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/conservation-biology/wegmann-group.html" title="Wegmann Group" 237>Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/animal-behaviour/" title="Animal Behaviour"   class="deeper">
		Animal Behaviour
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/albrecht.html" title="Albrecht Group" >Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/glauser.html" title="Glauser Group" >Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/sprecher.html" title="Sprecher Group" >Sprecher Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/leboeuf-group1.html" title="LeBoeuf Group" >LeBoeuf Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/regenerative-biology/" title="Regenerative Biology"   class="deeper">
		Regenerative Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/regenerative-biology/jazwinska.html" title="Jazwinska Group" 226>Jazwinska Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/" title="Biological control and Invasions"   class="deeper">
		Biological control and Invasions
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/bacher.html" title="Bacher Group" >Bacher Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/weisskopf.html" title="Weisskopf Group" >Weisskopf Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/" title="Alumni Professors & Group Leaders"   class="deeper">
		Alumni Professors & Group Leaders
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/blanchoud.html" title="Blanchoud Group" >Blanchoud Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/mueller-schaerer.html" title="Müller-Schärer Group" >Müller-Schärer Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="https://www.unifr.ch/bio/en/services/" title="Services"   class="deeper">
		Services
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/services/facilities/" title="Facilities & Core Services" >Facilities & Core Services</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="https://www.unifr.ch/bio/en/" class="gfx gfx-home"></a></li>
	<li><a href="https://www.unifr.ch/bio/en/groups/wegmann/">Wegmann Group</a></li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="https://www.unifr.ch/bio/en/groups/" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        Research groups</a>
                                    <a href="https://www.unifr.ch/bio/en/groups/" class="hidden-max-laptop">
                                        Research groups</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul><li class="first"><a href="https://www.unifr.ch/bio/en/groups/allard/" title="COMMONS Lab" 230,2016>Allard Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/auer/" title="Auer Group" 2609>Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/albrecht/" title="Albrecht Group" 214>Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/bersier/" title="Bersier Group" 216>Bersier Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/bacher/" title="Bacher Group" 215>Bacher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/dengjel/" title="Dengjel Group" 218>Dengjel Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/de-virgilio/" title="De Virgilio Group" 219>De Virgilio Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/egger/" title="Egger Group" 220>Egger Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/falquet/" title="Falquet Group" 221>Falquet Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/flatt/" title="Flatt Group" 222>Flatt Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/geisler/" title="geislerLab" 223>Geisler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/gilbert/" title="Gilbert Group" 222,2220,2337>Gilbert Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/glauser/" title="Glauser Group" 224>Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/hazak-group/" title="Hazak Group" 1134>Hazak Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/jazwinska/" title="Jazwinska Group" 226>Jazwinska Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/kozlowski/" title="Kozlowski Group" 227>Kozlowski Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/kressler/" title="Kressler Group" 228>Kressler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/leboeuf-group/" title="LeBoeuf Group" 1278>LeBoeuf Group </a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/parisod/" title="Parisod Group" 222,2220>Parisod Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/puoti/" title="Puoti Group" 232>Puoti Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/ranf/" title="Ranf Group" 446,2291>Ranf Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/reinhardt/" title="Reinhardt Group" 233>Reinhardt Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/rohr/" title="Rohr Group" 1095>Rohr Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/schneiter/" title="Schneiter Group" 234>Schneiter Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/silvestro/" title="Silvestro Group" 1629>Silvestro Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/sprecher/" title="Sprecher Group" 235>Sprecher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/vanni/" title="Vanni Group" 236>Vanni Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/wegmann/" title="Wegmann Group" 237>Wegmann Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/weisskopf/" title="Weisskopf Group" 238>Weisskopf Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/groups/wicky/" title="Wicky Group" 239>Wicky Group</a></li>
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <div class="banner--background-image">
    <div style="background-image:url('/bio/en/assets/public/Research/Daniel-Wegmann/Banner_v1.png')" class="background-size-cover"></div>
</div>

<h2>Statistical &amp; Computational Biology<br></h2>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-8 inner-10">
<h3>Media &amp; Outreach</h3>
<ul class="accordion brandedstyle">
<li><a href="#" data-accordion-toggler="styleguide-5-1" data-accordion-state="open">Columns in the "Freiburger Nachrichten"</a><div data-accordion-content="styleguide-5-1" data-accordion-state="open"><div class="box inner-05"><div class="row inner"><div class="col-md-12 inner-10"><p>Daniel Wegmann is regularly contributing columns to the local newspaper <a class="link inline external" href="https://www.freiburger-nachrichten.ch/" target="_blank">Freiburger Nachrichten</a> in German. The following columns are available free of charge:</p><ul><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/mehr-latrinen/" target="_blank">Mehr Latrinen!</a> (10.8.2022)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/die-bisweilen-hohen-huerden-fuer-eine-stelle-als-doktorant/" target="_blank">Die bisweilen hohen Hürden für eine Stelle als Doktorand</a> (12.5.2022)</li><li><a class="link inline external" href="https://unifr-websites.bitbucket.io/Wegmann_Avarija_24_2_2022.pdf" target="_blank">«Aва́рия»</a> (24.2.2022)</li><li><a class="link inline external" href="https://unifr-websites.bitbucket.io/Wegmann_Schönfärberei_28_10_2021.pdf" target="_blank">Schönfärberei 3.0</a> (28.10.2021)</li><li><a class="link inline external" href="https://unifr-websites.bitbucket.io/Wegmann_Sommerpause_12_8_2021.pdf" target="_blank">Sommerpause</a> (12.8.2021)</li><li><a class="link inline external" href="https://unifr-websites.bitbucket.io/Wegmann_Haarige_Angelegenheit_20_5_2021.pdf" target="_blank">Eine haarige Angelegenheit</a> (20.5.2021)</li><li><a class="link inline external" href="https://unifr-websites.bitbucket.io/Wegmann_Höhlengleichnis_25_2_2021.pdf" target="_blank">Das Höhlengleichnis</a> (25.2.2021)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/die-zweiklassengesellschaft/" target="_blank">Die Zweiklassengesellschaft</a> (10.12.2020)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/die-anderen" target="_blank">Die Anderen</a> (24.9.2020)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/ein-mitlaufer" target="_blank">Ein Mitläufer</a> (9.7.2020)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/ein-hoch-auf-den-9-%e2%80%89%e2%80%89april/" target="_blank">Ein Hoch auf den 9. April</a> (9.4.2020)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/grossfreiburg/lugner" target="_blank">Lügner!</a> (23.1.2020)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/grossfreiburg/ich-bin-ein-mutant" target="_blank">Ich bin ein Mutant!</a> (24.10.2019)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/die-technik-der-sechziger" target="_blank">Die Technik der Sechziger</a> (25.7.2019)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/ein-ganz-normaler-tag-in-venedig/" target="_blank">Ein ganz normaler Tag in Venedig</a> (25.4.2019)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/gesundheit/" target="_blank">Gesundheit!</a> (7.2.2019)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/alle-stimmburger-sind-gleich-aber-manche-sind-gleicher-als-andere" target="_blank">Alle Stimmbürger sind gleich, aber manche sind gleicher als andere</a> (15.11.2018)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/persepolis-und-seine-nachwehen" target="_blank">Persepolis und seine Nachwehen</a> (16.8.2018)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/bsszzzzzzzzz%e2%80%89%e2%80%89/" target="_blank">Bsszzzzzzzzz … !</a> (17.5.2018)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/der-neandertaler-in-mir/" target="_blank">Der Neandertaler in mir</a> (15.2.2018)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/ausgerechnet-robinien" target="_blank">Ausgerechnet Robinien!</a> (23.11.2017)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/wie-mein-computer-das-zwitschern-lernte" target="_blank">Wie mein Computer das Zwitschern lernte</a> (17.8.2017)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/keine-navigation/die-zukunft-berechnen" target="_blank">Die Zukunft berechnen</a> (27.4.2017)</li></ul></div></div></div></div></li>
<li><a href="#" data-accordion-toggler="styleguide-5-1" data-accordion-state="open">Talks</a><div data-accordion-content="styleguide-5-1" data-accordion-state="open"><div class="box inner-05"><div class="row inner"><div class="col-md-12 inner-10"><p>A selection of recorded research talks by members of the lab:</p><ul><li><a class="link inline external" href="https://youtu.be/IFWeCNLDtaQ" target="_blank">Modern Tools for Ancient Data: Quantifying Evolution from Paleogenomes</a><br/>by Daniel Wegmann at <a class="link inline external" href="https://eseb2019.fi/" target="_blank">ESEB 2019</a>. (23.8.2019)</li><li><a class="link inline external" href="https://www.youtube.com/watch?v=RMbzyHabvuQ" target="_blank">Incorporating genotype uncertainty (in population genetics)</a><br/>by Daniel Wegmann at <a class="link inline external" href="http://computationalgenomics.bioinformatics.ucla.edu/" target="_blank">CGSI 2018</a>. (3.8.2018)</li><li><a class="link inline external" href="https://youtu.be/7bO4zvgxnNY" target="_blank">Tracing the spread of farming using ancient DNA</a><br/>by Daniel Wegmann at <a class="link inline external" href="http://computationalgenomics.bioinformatics.ucla.edu/" target="_blank">CGSI 2017</a>. (12.7.2017)</li></ul></div></div></div></div></li>
<li><a href="#" data-accordion-toggler="styleguide-5-1" data-accordion-state="open">Radio & TV Recordings</a><div data-accordion-content="styleguide-5-1" data-accordion-state="open"><div class="box inner-05"><div class="row inner"><div class="col-md-12 inner-10"><p>The popular media is frequently reporting on our most recent findings. Below is a selection of radio and TV recordings available online:</p><ul>
<li><a class="link inline external" href="https://pages.rts.ch/la-1ere/programmes/cqfd/07-09-2020" target="_blank">120 générations pour tolérer le lait</a><br/>with Daniel Wegmann on <a class="link inline external" href="https://www.rts.ch/" target="_blank">RTS</a> (7.9.2020)</li><li><a class="link inline external" href="https://www.rts.ch/la-1ere/programmes/cqfd/9457808-les-bavarois-ont-des-ancetres-de-cote-de-la-mer-morte-17-04-2018.html?mediaShare=1" target="_blank">Les Bavarois ont des ancêtres de côté de la Mer Morte</a><br/>with Vivian Link on <a class="link inline external" href="https://rts.ch" target="_blank">RTS</a> (17.4.2018)</li><li><a class="link inline external" href="https://www.srf.ch/play/tv/aeschbacher/video/thierry-aebischer?id=08549549-a265-436a-b661-a0b214c7b4ee" target="_blank">Thierry Aebischer by Aeschbacher</a><br/>with Thierry Aebischer on <a class="link inline external" href="http://www.srf.ch" target="_blank">SRF</a> (28.11.2013)</li><li><a class="link inline external" href="https://www.npr.org/2011/07/21/138548043/genome-maps-may-spot-disease-in-african-americans" target="_blank">Genome Maps May Spot Disease In African-Americans</a><br/>with Daniel Wegmann on <a class="link inline external" href="https://www.npr.org" target="_blank">NPR</a> (21.7.2011)</li></ul></div></div></div></div></li>
<li><a href="#" data-accordion-toggler="styleguide-5-1" data-accordion-state="open">Newspaper Reports</a><div data-accordion-content="styleguide-5-1" data-accordion-state="open"><div class="box inner-05"><div class="row inner"><div class="col-md-12 inner-10"><p>The popular media is frequently reporting on our most recent findings. Below is a selection of newspaper articles available online:</p><ul>
<li><a class="link inline external" href="https://www.nationalgeographic.de/geschichte-und-kultur/2022/05/dna-aus-der-jungsteinzeit-herkunft-der-ersten-bauern-der-welt" target="_blank">DNA aus der Jungsteinzeit: Herkunft der ersten Bauern der Welt</a><br/>in <a class="link inline external" href="https://www.nationalgeographic.de/" target="_blank">National Geographic</a> (Germany, 27.5.2022)</li><li><a class="link inline external" href="https://www.bauernzeitung.ch/artikel/forscher-decken-genetischen-ursprung-der-erst-421291" target="_blank">Forscher decken genetischen Ursprung der ersten Bauern auf</a><br/>in <a class="link inline external" href="https://www.bauernzeitung.ch/" target="_blank">Bauern Zeitung</a> (Switzerland, 15.5.2022)</li><li><a class="link inline external" href="https://www.nature.com/articles/d41586-022-01322-w" target="_blank">Ancient DNA maps ‘dawn of farming’</a><br/>in <a class="link inline external" href="https://www.nature.com/nature/articles?type=news" target="_blank">Nature</a> (USA, 12.5.2022)</li><li><a class="link inline external" href="https://www.derstandard.de/story/2000135738355/die-herkunft-der-ersten-bauern-der-geschichte" target="_blank">Die Herkunft der ersten Bauern der Geschichte</a><br/>in <a class="link inline external" href="https://www.derstandard.de" target="_blank">Der Standard</a> (Germany, 15.5.2022)</li><li><a class="link inline external" href="https://www.sciencesetavenir.fr/archeo-paleo/anthropologie/les-origines-tumultueuses-des-tout-premiers-agriculteurs-europeens_163427" target="_blank">Les origines tumultueuses des tout premiers agriculteurs européens révélées par leur ADN</a><br/>in <a class="link inline external" href="https://www.sciencesetavenir.fr/" target="_blank">Science et Avenir</a> (France, 12.5.2022)</li><li><a class="link inline external" href="https://www.dailymail.co.uk/sciencetech/article-10809981/Scientists-study-genomes-origins-farmers.html?ns_mchannel=rss&ns_campaign=1490&ito=1490" target="_blank">World's first FARMERS originated from the mixing of two groups of hunter-gatherers brought together by dramatic climate change 12,900 years ago</a><br/>in <a class="link inline external" href="https://www.dailymail.co.uk/home/index.html" target="_blank">Daily Mail</a> (UK, 12.5.2022)</li><li><a class="link inline external" href="https://science.apa.at/power-search/9387371006393174601" target="_blank">Europas erste Bauern trugen auch Gen-Erbe von Jägern und Sammlern</a><br/>in <a class="link inline external" href="https://science.apa.at/" target="_blank">Austria Presse Agentur</a> (Austria, 12.5.2022)</li><li><a class="link inline external" href="https://www.heise.de/tp/features/Bauern-Jaeger-und-Sammler-Was-neue-Methoden-ueber-unsere-Vorfahren-verraten-7127062.html?seite=all" target="_blank">Bauern, Jäger und Sammler: Was neue Methoden über unsere Vorfahren verraten</a><br/>in <a class="link inline external" href="https://www.heise.de/tp/" target="_blank">Telepolis</a> (Germany, 31.5.2022)</li><li><a class="link inline external" href="https://www.northwaleschronicle.co.uk/news/19695158.ancient-genes-vital-dolphin-survival-research-involving-bangor-university-suggests/" target="_blank">Ancient genes vital for dolphin survival, research involving Bangor University suggests</a><br/>in <a class="link inline external" href="https://www.northwaleschronicle.co.uk" target="_blank">North Wales Chronicle</a> (UK, 4.11.2021)</li><li><a class="link inline external" href="https://phys.org/news/2021-10-ancient-genes-vital-dolphin-survival.html" target="_blank">Ancient genes vital for dolphin survival</a><br/>in <a class="link inline external" href="https://phys.org" target="_blank">Phys.org</a> (UK, 29.10.2021)</li><li><a class="link inline external" href="https://www.24heures.ch/digerer-le-lactose-un-facteur-de-survie-699425057657" target="_blank">Digérer le lactose, un facteur de survie</a><br/>in <a class="link inline external" href="https://www.24heures.ch/lematindimanche" target="_blank">Le Matin Dimanche</a> (Switzerland, 24.11.2020)</li><li><a class="link inline external" href="https://www.tagesanzeiger.ch/praehistorische-milchtrinker-entdeckt-707838450280" target="_blank">Milchtrinker waren den anderen gegenüber klar im Vorteil</a><br/>in <a class="link inline external" href="https://www.tagesanzeiger.ch/" target="_blank">Tages Anzeiger</a> (Switzerland, 29.1.2021)</li><li><a class="link inline external" href="https://www.nytimes.com/2021/05/16/world/europe/czech-germans-slavs-archaeology-bone.html" target="_blank">A Scratched Hint of Ancient Ties Stirs National Furies in Europe</a><br/>in <a class="link inline external" href="https://www.nytimes.com" target="_blank">New York Times</a> (USA, 16.5.2021)</li><li><a class="link inline external" href="https://science.orf.at/stories/3204865/" target="_blank">Runeninschrift ältestes slawisches Schriftdokument</a><br/>in <a class="link inline external" href="https://orf.at" target="_blank">ORF</a> (Austria, 19.2.2021)</li><li><a class="link inline external" href="https://english.radio.cz/brno-archaeologists-reveal-early-slavs-used-germanic-runes-prior-glagolitic-8708206" target="_blank">Brno archaeologists reveal early Slavs used Germanic runes prior to Glagolitic script</a><br/>in <a class="link inline external" href="https://english.radio.cz/" target="_blank">Radio Prague International</a> (Czechia, 12.2.2021)</li><li><a class="link inline external" href="https://www.rferl.org/a/early-slavs-archeological-discovery-runes-alphabet-germanic-lany-czech/31110277.html" target="_blank">Bone Of Contention? Six Letters That Could Rewrite Slavic History</a><br/>in <a class="link inline external" href="https://www.rferl.org/" target="_blank">Radio Free Europe</a> (USA, 20.2.2021)</li><li><a class="link inline external" href="https://www.unifr.ch/universitas/de/assets/public/2020-2021/01/web_pdf/2020-21_01_UF_UK_WEB.pdf" target="_blank">Milch trinken oder sterben</a><br/>in <a class="link inline external" href="https://www.unifr.ch/universitas/" target="_blank">Universitas</a> (Switzerland, 1.1.2021)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/ich-suche-nicht-das-abenteuer/" target="_blank">Ich suche nicht das Abenteuer</a><br/>in <a class="link inline external" href="https://www.freiburger-nachrichten.ch/" target="_blank">Freiburger Nachrichten</a> (Switzerland, 20.9.2020)</li><li><a class="link inline external" href="https://www.blick.ch/news/ernaehrung-mitteleuropaeer-waren-in-bronzezeit-noch-keine-milchtrinker-id16075471.html" target="_blank">Mitteleuropäer waren in Bronzezeit noch keine Milchtrinker</a><br/>in <a class="link inline external" href="https://www.blick.ch/" target="_blank">Blick</a> (Switzerland, 3.9.2020)</li><li><a class="link inline external" href="https://kurier.at/wissen/wissenschaft/wann-und-wieso-erwachsene-zu-milchtrinkern-wurden/401020850" target="_blank">Wann und wieso Erwachsene zu Milchtrinkern wurden</a><br/>in <a class="link inline external" href="http://www.kurier.at" target="_blank">Kurier</a> (Austria, 3.9.2020)</li><li><a class="link inline external" href="https://www.derstandard.de/story/2000119773075/mitteleuropaeer-wurden-spaet-und-schnell-zu-milchtrinkern" target="_blank">Mitteleuropäer wurden spät und schnell zu Milchtrinkern</a><br/>in <a class="link inline external" href="https://www.derstandard.de" target="_blank">Der Standard</a> (Germany, 3.9.2020)</li><li><a class="link inline external" href="https://metro.co.uk/2020/09/03/lactose-tolerance-spread-throughout-europe-in-a-few-thousand-years-says-study-13219021/" target="_blank">Lactose tolerance spread throughout Europe in a few thousand years, says study</a><br/>in <a class="link inline external" href="https://metro.co.uk/" target="_blank">Metro</a> (UK, 3.9.2020)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/kanton/ein-teil-der-bayern-stammt-aus-dem-schwarzmeerraum" target="_blank">Ein Teil der Bayern stammt aus dem Schwarzmeerraum</a><br/>in <a class="link inline external" href="https://www.freiburger-nachrichten.ch" target="_blank">Freiburger Nachrichten</a> (Switzerland, 15.3.2018)</li><li><a class="link inline external" href="https://www.unifr.ch/universitas/de/assets/public/2017-2018/03/2017-18_03_UF_Karl_Marx.pdf" target="_blank">Un ancien ADN qui bouleverse nos certitudes</a><br/>in <a class="link inline external" href="https://www.unifr.ch/universitas/" target="_blank">Universitas</a> (Switzerland, 1.3.2018)</li><li><a class="link inline external" href="https://www.vqronline.org/reporting-articles/2016/07/fight-chinko" target="_blank">The Fight for Chinko</a><br/>in <a class="link inline external" href="https://www.vqronline.org/" target="_blank">Virginia Quarterly Review</a> (USA, 29.6.2016)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/forscher-korrigieren-theorie-uber-den-ursprung-der-bauern/" target="_blank">Forscher korrigieren Theorie über den Ursprung der Bauern</a><br/>in <a class="link inline external" href="https://www.freiburger-nachrichten.ch" target="_blank">Freiburger Nachrichten</a> (Switzerland, 20.7.2016)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/nachrichten/jungsteinzeitliche-bauern-europas-stammten-aus-der-aegaeis" target="_blank">Jungsteinzeitliche Bauern Europas stammten aus der Ägäis</a><br/>in <a class="link inline external" href="https://www.freiburger-nachrichten.ch" target="_blank">Freiburger Nachrichten</a> (Switzerland, 6.6.2016)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/wissenschaft-mitten-im-kriegsgebiet/" target="_blank">Wissenschaft mitten im Kriegsgebiet</a><br/>in <a class="link inline external" href="https://www.freiburger-nachrichten.ch" target="_blank">Freiburger Nachrichten</a> (Switzerland, 15.1.2014)</li><li><a class="link inline external" href="https://www.unibe.ch/unibe/portal/content/e796/e800/e10902/e277579/e622094/files622109/up_159_s_36_zimmermann_ger.pdf" target="_blank">Entdecker des bedrohten Paradieses</a><br/>in <a class="link inline external" href="https://www.unibe.ch/aktuell/magazine/unipress/aktuelle_ausgabe/index_ger.html" target="_blank">UniPress</a> (Switzerland, 1.12.2013)</li><li><a class="link inline external" href="https://www.freiburger-nachrichten.ch/ein-junger-professor-verarbeitet-daten-uber-die-vorfahren-der-dattelpalme/" target="_blank">Ein junger Professor verarbeitet Daten über die Vorfahren der Dattelpalme</a><br/>in <a class="link inline external" href="https://www.freiburger-nachrichten.ch" target="_blank">Freiburger Nachrichten</a> (Switzerland, 9.7.2013)</li></ul></div></div></div></div></li>
<li><a href="#" data-accordion-toggler="styleguide-5-1" data-accordion-state="open">Biology Olympiad</a><div data-accordion-content="styleguide-5-1" data-accordion-state="open"><div class="box inner-05"><div class="row inner"><div class="col-md-12 inner-10">
<p>I'm a co-founder of the <a class="link inline external" href="https://biology.olympiad.ch/en/" target="_blank">Swiss Biology Olympiad</a> as well as the <a class="link inline external" href="https://science.olympiad.ch/en/" target="_blank">Association of Swiss Science Olympiads</a>, acted many years as their president and continue to support their effort to excite young people for science.</p>
<p>In 2013, I co-orgnized the <a class="link inline external" href="https://science.olympiad.ch/en/ibo2013/" target="_blank">International Biology Olympiad 2013</a> held in Bern and have since acted as an adviser to many international biology olympiads.</p>
</div></div></div></div></li>
</ul>
    </div>
    <div class="col-md-4 inner-10">
         
<div class="row">
  
</div>
<div class="row inner cp-card-1col peoplelist" data-wrapper="2" data-id="6784d552b7f3a" id="peoplelist-6784d552b7f3a">
    

<div class="col-sm-12 inner-05">
    <article class="box inner-05 bg-grey-light shadow" data-search="Daniel Wegmann Professor, Lecturer PER 23 +41 26 300 8949 1.03">

        <div class="box--banner box-people banner">

            <img src="https://admin.unifr.ch/indigo/photo/119785/26387f3d71edda782477e57eb33f15e368a748d2" alt="">

        </div>

        <h5>Daniel Wegmann</h5>
        
            <p>Professor, Lecturer</p>
            
        
        
        


        <p>
            <i class="fa fa-map-marker fa-fw right-05" title="Office" aria-hidden="true"></i> PER 23 - 1.03<br />
            <i class="fa fa-phone fa-fw right-05" aria-hidden="true"></i> <a href="tel:+41 26 300 8949">+41 26 300 8949</a><br />
            <i class="fa fa-envelope fa-fw right-05" title="E-mail" aria-hidden="true"></i> <a href="mailto:daniel.wegmann@unifr.ch">E-mail</a>
        </p>
        <p>
            
            
            
            
            
        </p>
    </article>
</div>

</div>
<!-- https://webapps.unifr.ch/campusviews/api/v2/view/237 ### 11-11 -->

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/">Research</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/group-members-wegmann.html">Group Members</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="https://www.unifr.ch/bio/en/groups/wegmann/software-and-data.html">Software &amp; Data</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="https://unifr-websites.bitbucket.io/outreach_wegmann.html">Media &amp; Outreach</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/wegmann-join.html">Join us!</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link external" href="https://www.sib.swiss/wegmann-daniel" target="_blank">Swiss&nbsp;Inst.&nbsp;of Bioinfo.</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link external" href="../../timetable/en/?&amp;texte=Daniel%20Wegmann&amp;semestres=&amp;page=1" target="_blank">Courses</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p>Department of Biology<br>Chemin du Musée 15<br>CH-1700 Fribourg<br>Switzerland</p>
<p>&nbsp;</p>
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/wegmann-where.html">How to find us</a></p>

</div>       
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="https://www.unifr.ch/bio/en/department/">DEPARTMENT</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/department/organisation.html" title="Organisation" >Organisation</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/staff/" title="Staff" >Staff</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/professorships.html" title="SNSF Professorships" >SNSF Professorships</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/jobs.html" title="Open Positions" >Open Positions</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/department/contact.html" title="Contact" >Contact</a></li>
</ul>

<h6><a href="https://www.unifr.ch/bio/en/services/">SERVICES</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/services/facilities/" title="Facilities & Core Services" >Facilities & Core Services</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="https://www.unifr.ch/bio/en/studies/">STUDIES</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/studies/bachelor/" title="Bachelor" >Bachelor</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/master/" title="Master" >Master</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/doctorate/" title="Doctorate" >Doctorate</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/graduate-school-fglm/" title="Graduate School FGLM" >Graduate School FGLM</a></li>
<li><a href="https://www3.unifr.ch/scimed/fr/studies/minors" title="Minors" >Minors</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/courses-and-exams.html" title="Courses and Exams" >Courses and Exams</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/apprenticeships/" title="Apprenticeships" 293>Apprenticeships</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/studies/fachschaft-alumni.html" title="Alumni & Fachschaft Biologie" >Alumni & Fachschaft Biologie</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="https://www.unifr.ch/bio/en/research/">RESEARCH</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/research/groups-in-alphabetical-order/" title="Groups in alphabetical order" >Groups in alphabetical order</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/" title="Biochemistry" >Biochemistry</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/" title="Bioinformatics" >Bioinformatics</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/" title="Ecology and Evolution" >Ecology and Evolution</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/" title="Neuro and Developmental Biology" >Neuro and Developmental Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/" title="Plant and Microbial Sciences" >Plant and Microbial Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/" title="Genetics" >Genetics</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/proteomic/" title="Proteomics" >Proteomic</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/conservation-biology/" title="Conservation Biology" >Conservation Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/" title="Animal Behaviour" >Animal Behaviour</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/regenerative-biology/" title="Regenerative Biology" >Regenerative Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/" title="Biological control and Invasions" >Biological control and Invasions</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/" title="Alumni Professors & Group Leaders" >Alumni Professors & Group Leaders</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Contact</h6>
    <p>University of Fribourg</p>
    <p>Department of Biology</p>
    <p>Ch. du Musée 10</p>
    <p>CH-1700 Fribourg</p>
    
    <p><a href="mailto:adm-biol@unifr.ch" class="link">adm-biol@unifr.ch</a></p>
    <p><a href="https://www.unifr.ch/bio" class="link">www.unifr.ch/bio</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifrbiology" target="_blank" class="gfx gfx-facebook"></a>
        <a href="https://twitter.com/unifrBiology" target="_blank" class="gfx gfx-twitter"></a>
        <a href="https://www.youtube.com/channel/UCfi1kGt2CrkAa7FKCXbYNow" target="_blank" class="fa fa-youtube-play"></a>
        <a href="https://www.linkedin.com/showcase/unifrbiology" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/unifrbiology/" target="_blank" class="fa fa-instagram"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Fribourg",
    "addressRegion": "FR",
    "postalCode": "1700",
    "streetAddress": "Ch. du Musée 10"
  },
  "url" : "www.unifr.ch/bio",
  "name": "Department of Biology",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 026 300 8630",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>




    

                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; University of Fribourg | </span><a href="https://www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Legal Notice</a> | <a href="//www.unifr.ch/help">Emergency numbers</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<script src="//cdn.unifr.ch/uf/v2.4.3/js/shared.js"></script>
<script src="//cdn.unifr.ch/uf/v2.4.3/js/app.js"></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.3/js/lt_ie_10.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.3/js/polyfills.js"></script><![endif]-->







<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>


</body>
</html>
