
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html><!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Publications | Department of Biology  | University of Fribourg</title>| Department of Biology  | University of Fribourg</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <link href="https://cdn.unifr.ch/uf/v2.4.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdn.unifr.ch/uf/v2.4.3/css/main.css" rel="stylesheet"/>
    






    <link rel="shortcut icon" type="image/ico" href="https://cdn.unifr.ch/sharedconfig/favicon/favicon.ico"/>
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="https://cdn.unifr.ch/uf/v2.4.3/css/old_ie.css" rel="stylesheet"/><![endif]-->
    <script src="//cdn.unifr.ch/uf/v2.4.3/js/modernizr.js"></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="en" href="https://unifr-websites.bitbucket.io/publications_wegmann.html"">
        
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager --> 

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    

<link href="https://cdn.unifr.ch/uf/v2.4.3/css/corr.css" rel="stylesheet"/>

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    <base href="https://www.unifr.ch/bio/en/" />
    
<link rel="stylesheet" href="https://cdn.unifr.ch/uf/v2.4.3/css/directory.css" type="text/css" />
<style>
             span.labauthor { text-decoration: underline; font-weight: 700; }
             span.papertitle { font-style: italic; }
             span.journal { font-weight: 900; color: #0085c6; }
             ol.paperliststart { counter-reset: papercounter; }
             ol.paperliststart li, ol.paperlistcontinue li { list-style: none; } 
             ol.paperliststart li:before, ol.paperlistcontinue li:before { content: counter(papercounter) ". "; counter-increment: papercounter;}
             </style></head>
<body data-lang="en" class="green">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="javascript:;" class="open-offcanvas square bg-branded hover hidden-desktop"></a><a href="javascript:;" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Show more results</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"/><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="https://www.unifr.ch/bio/" checked="checked" id="local-" class="hidden"/>
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden"/>
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">No results</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Quick Links
</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container meta-border">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">University</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/en" title="Studies: Bachelor, Master, Doctorate">Studies</a></li>
                            <li><a href="https://www.unifr.ch/campus/en" title="Campus life">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/en" title="Research">Research</a></li>
                            <li><a href="https://www.unifr.ch/uni/en" title="University">University</a></li>
                            <li><a href="https://www.unifr.ch/formcont/en"  title="Continuing education">Continuing education</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Faculties</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/" title="Faculty of Theology" ><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Theology</a></li>
                            <li><a href="https://www.unifr.ch/ius/" title="Faculty of Law"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Law</a></li>
                            <li><a href="https://www.unifr.ch/ses/" title="Faculty of Economics and social sciences"><span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Management, Economics and Social sciences</a></li>
							<li><a href="https://www.unifr.ch/lettres/" title="Faculty of Humanities"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Humanities</a></li>
							<li><a href="https://www.unifr.ch/eduform/" title="Faculty of Education"><span class="glyphicon glyphicon-stop color-violet" aria-hidden="true"></span> Education</a></li>
                            <li><a href="https://www.unifr.ch/scimed/" title="Faculty of Sciences and Medicine"><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Science and Medicine</a></li>
                            <li><a href="https://www.unifr.ch/faculties/en/interfaculty.html" title="Interfaculty"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfaculty</a></li>
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/en/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">You are</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/en/prospective-students/" title="You are... Prospective student">Prospective students</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/students/" title="You are... Student">Students</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/medias/" title="You are... Media">Medias</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/researchers/" title="You are... Researcher">Researchers</a></li>
                            <li><a href="https://www.unifr.ch/you-are/en/employees/" title="You are... Employee">Employees</a></li>
							<li><a href="https://www.unifr.ch/you-are/en/phd-students/" title="You are... PhD student">PhD students</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg hidden-md" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressources</a>
                    <nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/en"><span class="fa fa-user fa-fw" aria-hidden="true"></span> Directory</a></li>
                            <li><a href="https://www.unifr.ch/map"><span class="fa fa-map-signs fa-fw" aria-hidden="true"></span> Maps/Orientation</a></li>
                            <li><a href="https://www.unifr.ch/biblio"><span class="fa fa-book fa-fw" aria-hidden="true"></span> Libraries</a></li>
                            <li><a href="https://outlook.com/unifr.ch"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> Webmail</a></li>
                            <li><a href="https://www.unifr.ch/timetable/en/"><span class="fa fa-calendar fa-fw" aria-hidden="true"></span> Course catalogue</a></li>
                            <li><a href="https://my.unifr.ch"><span class="fa fa-lock fa-fw" aria-hidden="true"></span> MyUnifr</a></li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
    </div>
</div>

                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="https://unifr-websites.bitbucket.io/publications_wegmann.html"" class=" bold">EN</a></li>
    </ul>
</nav>

                <!-- Global Breadcrumb -->
                


<div class="breadcrumbs square">

    <a href="https://www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler"><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="https://www.unifr.ch" class="gfx gfx-home"></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li >
                    <a href="https://www.unifr.ch/scimed" class="short">Faculty of Science and Medicine</a>
                    <a href="https://www.unifr.ch/scimed" class="long">Faculty of Science and Medicine</a>
                </li>
                
                <!-- level 2 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="https://www.unifr.ch/bio" class="short">Department of Biology</a>
                    <a href="https://www.unifr.ch/bio" class="long">Department of Biology</a>
                </li>
                
                <!-- level 3 -->
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Show more results</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="https://www.unifr.ch/bio/" id="local-" class="hidden" checked="checked"/>
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden" />
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">No results</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square">EN</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="https://unifr-websites.bitbucket.io/publications_wegmann.html"" class="square bg-white hover  bold">EN</a></li>
        </ul>
    </div>
</nav>
                    <a href="javascript:;" class="close-offcanvas square hover bg-marine"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            
                        </nav>
                        

<h1 class="logo"><span class="sr-only">University of Fribourg</span><a href="https://www.unifr.ch"><img src="//cdn.unifr.ch/uf/v2.4.3/gfx/logo.png"/></a></h1>

<p class="service-menu--department"><a href="https://www.unifr.ch/bio/en/">Department of Biology</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        

<!-- start outerTpl -->
<ul>
    <li class="first"><a href="https://www.unifr.ch/bio/en/" title="Home" >Home</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/info/agenda/" title="News & Events"   class="deeper">
		News & Events
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/info/news/" title="News" >News</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/agenda/" title="Agenda" >Agenda</a></li>


<!-- start parentRowTpl -->
<li class="last">
	<a href="https://www.unifr.ch/bio/en/info/media/" title="Media & Outreach"   class="deeper">
		Media & Outreach
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/info/media/activity-reports.html" title="Activity reports" >Activity reports</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/media/welcome-guide.html" title="Welcome Guide" >Welcome Guide</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/media/social-media.html" title="Social Media" >Social Media</a></li>
<li><a href="https://www.unifr.ch/bio/en/info/media/outreach.html" title="Science & society" >Science & society</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/info/media/merchandising.html" title="Merchandising" >Merchandising</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/department/" title="Department"   class="deeper">
		Department
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/department/organisation.html" title="Organisation" >Organisation</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/staff/" title="Staff" >Staff</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/professorships.html" title="SNSF Professorships" >SNSF Professorships</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/jobs.html" title="Open Positions" >Open Positions</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/department/contact.html" title="Contact" >Contact</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/studies/" title="Studies"   class="deeper">
		Studies
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/studies/bachelor/" title="Bachelor" >Bachelor</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/master/" title="Master" >Master</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/doctorate/" title="Doctorate" >Doctorate</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/graduate-school-fglm/" title="Graduate School FGLM" >Graduate School FGLM</a></li>
<li><a href="https://www3.unifr.ch/scimed/fr/studies/minors" title="Minors" >Minors</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/courses-and-exams.html" title="Courses and Exams" >Courses and Exams</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/apprenticeships/" title="Apprenticeships" 293>Apprenticeships</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/studies/fachschaft-alumni.html" title="Alumni & Fachschaft Biologie" >Alumni & Fachschaft Biologie</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/" title="Research"   class="deeper">
		Research
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/groups-in-alphabetical-order/" title="Groups in alphabetical order" >Groups in alphabetical order</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/biochemistry/" title="Biochemistry"   class="deeper">
		Biochemistry
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/biochemistry/albrecht.html" title="Albrecht Group" >Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/de-virgilio.html" title="De Virgilio Group" >De Virgilio Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/dengjel.html" title="Dengjel Group" >Dengjel Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/kressler.html" title="Kressler Group" >Kressler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/schneiter.html" title="Schneiter Group" >Schneiter Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/biochemistry/vanni-group.html" title="Vanni Group" >Vanni Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/bioinformatics/" title="Bioinformatics"   class="deeper">
		Bioinformatics
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/bioinformatics/allard-group.html" title="Allard Group" >Allard Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/falquet.html" title="Falquet Group" >Falquet Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/parisod-group.html" title="Parisod Group" >Parisod Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/silvestro-group.html" title="Silvestro Group" >Silvestro Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/vanni.html" title="Vanni Group" >Vanni Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/bioinformatics/wegmann.html" title="Wegmann Group" >Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/eco-evol/" title="Ecology and Evolution"   class="deeper">
		Ecology and Evolution
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/eco-evol/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/bacher.html" title="Bacher Group" >Bacher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/bersier.html" title="Bersier Group" 216>Bersier Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/flatt.html" title="Flatt Group" >Flatt group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/gilbert-group.html" title="Gilbert Group" >Gilbert group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/kozlowski.html" title="Kozlowski Group" >Kozlowski Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/le-boeuf-group.html" title="LeBoeuf Group" >LeBoeuf Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/parisod-group.html" title="Parisod Group" >Parisod group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/rohr.html" title="Rohr Group" >Rohr Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/silvestro-group.html" title="Silvestro Group" >Silvestro Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/eco-evol/wegmann-group.html" title="Wegmann Group" >Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/" title="Neuro and Developmental Biology"   class="deeper">
		Neuro and Developmental Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/egger.html" title="Egger Group" >Egger Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/glauser.html" title="Glauser Group" >Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/jazwinska.html" title="Jazwinska Group" >Jazwinska Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/sprecher.html" title="Sprecher Group" >Sprecher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/puoti.html" title="Puoti group" >Puoti group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/wicky.html" title="Wicky Group" 239>Wicky Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/" title="Plant and Microbial Sciences"   class="deeper">
		Plant and Microbial Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/allard-group.html" title="Allard Group" 230,2016>Allard Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/geisler.html" title="Geisler Group" >Geisler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/hazak-group.html" title="Hazak Group" >Hazak Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/ranf-group.html" title="Ranf Group" >Ranf Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/reinhardt.html" title="Reinhardt Group" >Reinhardt Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/weisskopf.html" title="Weisskopf Group" 238>Weisskopf Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/genetics/" title="Genetics"   class="deeper">
		Genetics
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/genetics/albrecht.html" title="Albrecht Group" >Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/egger.html" title="Egger Group" >Egger Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/flatt.html" title="Flatt group" >Flatt group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/glauser.html" title="Glauser Group" >Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/kressler.html" title="Kressler Group" >Kressler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/parisod-group.html" title="Parisod Group" >Parisod Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/puoti.html" title="Puoti Group" >Puoti Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/sprecher.html" title="Sprecher Group" >Sprecher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/wicky.html" title="Wicky Group" >Wicky Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/genetics/wegmann-group.html" title="Wegmann Group" >Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/proteomic/" title="Proteomics"   class="deeper">
		Proteomic
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/proteomic/dengjel.html" title="Dengjel Group" >Dengjel Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/proteomic/kressler.html" title="Kressler Group" >Kressler Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/conservation-biology/" title="Conservation Biology"   class="deeper">
		Conservation Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/conservation-biology/bacher.html" title="Bacher Group" >Bacher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/conservation-biology/kozlowski.html" title="Kozlowski Group" >Kozlowski Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/conservation-biology/wegmann-group.html" title="Wegmann Group" 237>Wegmann Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/animal-behaviour/" title="Animal Behaviour"   class="deeper">
		Animal Behaviour
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/albrecht.html" title="Albrecht Group" >Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/auer.html" title="Auer Group" >Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/glauser.html" title="Glauser Group" >Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/sprecher.html" title="Sprecher Group" >Sprecher Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/leboeuf-group1.html" title="LeBoeuf Group" >LeBoeuf Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/regenerative-biology/" title="Regenerative Biology"   class="deeper">
		Regenerative Biology
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/regenerative-biology/jazwinska.html" title="Jazwinska Group" 226>Jazwinska Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/" title="Biological control and Invasions"   class="deeper">
		Biological control and Invasions
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/bacher.html" title="Bacher Group" >Bacher Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/weisskopf.html" title="Weisskopf Group" >Weisskopf Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/" title="Alumni Professors & Group Leaders"   class="deeper">
		Alumni Professors & Group Leaders
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/blanchoud.html" title="Blanchoud Group" >Blanchoud Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/mueller-schaerer.html" title="Müller-Schärer Group" >Müller-Schärer Group</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last">
	<a href="https://www.unifr.ch/bio/en/services/" title="Services"   class="deeper">
		Services
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Back</a></li>
		<li class="first"><a href="https://www.unifr.ch/bio/en/services/facilities/" title="Facilities & Core Services" >Facilities & Core Services</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="https://www.unifr.ch/bio/en/" class="gfx gfx-home"></a></li>
	<li><a href="https://www.unifr.ch/bio/en/groups/wegmann/">Wegmann Group</a></li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="https://www.unifr.ch/bio/en/groups/" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        Research groups</a>
                                    <a href="https://www.unifr.ch/bio/en/groups/" class="hidden-max-laptop">
                                        Research groups</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul><li class="first"><a href="https://www.unifr.ch/bio/en/groups/allard/" title="COMMONS Lab" 230,2016>Allard Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/auer/" title="Auer Group" 2609>Auer Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/albrecht/" title="Albrecht Group" 214>Albrecht Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/bersier/" title="Bersier Group" 216>Bersier Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/bacher/" title="Bacher Group" 215>Bacher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/dengjel/" title="Dengjel Group" 218>Dengjel Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/de-virgilio/" title="De Virgilio Group" 219>De Virgilio Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/egger/" title="Egger Group" 220>Egger Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/falquet/" title="Falquet Group" 221>Falquet Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/flatt/" title="Flatt Group" 222>Flatt Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/geisler/" title="geislerLab" 223>Geisler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/gilbert/" title="Gilbert Group" 222,2220,2337>Gilbert Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/glauser/" title="Glauser Group" 224>Glauser Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/hazak-group/" title="Hazak Group" 1134>Hazak Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/jazwinska/" title="Jazwinska Group" 226>Jazwinska Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/kozlowski/" title="Kozlowski Group" 227>Kozlowski Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/kressler/" title="Kressler Group" 228>Kressler Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/leboeuf-group/" title="LeBoeuf Group" 1278>LeBoeuf Group </a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/parisod/" title="Parisod Group" 222,2220>Parisod Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/puoti/" title="Puoti Group" 232>Puoti Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/ranf/" title="Ranf Group" 446,2291>Ranf Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/reinhardt/" title="Reinhardt Group" 233>Reinhardt Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/rohr/" title="Rohr Group" 1095>Rohr Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/schneiter/" title="Schneiter Group" 234>Schneiter Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/silvestro/" title="Silvestro Group" 1629>Silvestro Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/sprecher/" title="Sprecher Group" 235>Sprecher Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/vanni/" title="Vanni Group" 236>Vanni Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/wegmann/" title="Wegmann Group" 237>Wegmann Group</a></li>
<li><a href="https://www.unifr.ch/bio/en/groups/weisskopf/" title="Weisskopf Group" 238>Weisskopf Group</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/groups/wicky/" title="Wicky Group" 239>Wicky Group</a></li>
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <div class="banner--background-image">
    <div style="background-image:url('/bio/en/assets/public/Research/Daniel-Wegmann/Banner_v1.png')" class="background-size-cover"></div>
</div>

<h2>Statistical &amp; Computational Biology<br></h2>
    </div>
</div>

<div id="" class="row inner ">
    <div class="col-md-8 inner-10">
<h3>Publications</h3>
<h4>Upcoming</h4><ol class="paperliststart">
<li><a href="https://doi.org/10.1101/105346" target="_new"><span class="labauthor">Link V</span>, <span class="labauthor">Kousathanas A</span>, Veeramah K, Sell C, Scheu A &amp; <span class="labauthor">Wegmann D</span> (2017) <span class="papertitle">Atlas: analysis tools for low-depth and ancient samples.</span> <span class="journal">bioRxiv</span>.</a></li>
<li><a href="https://doi.org/10.1101/2022.06.24.497512" target="_new"><span class="labauthor">Hofmanová Z</span>*, <span class="labauthor">Reyna-Blanco C</span>*, de C Becdelievre C, <span class="labauthor">Schulz I</span>, Bloecher J, Jovanovic J, Winkelbach L, Figarska S, Schulz A, Porcic M, Kvetina P, Tsoupas A, Currat M, Buzhilova A, Gerritsen F, Karul N, McGlynn G, Orschiedt J, Oezbal R, Peters J, Ridush B, Terberger T, Teschler-Nicola M, Zarina G, Zeeb-Lanz A, Stefanovic S, Burger J* &amp; <span class="labauthor">Wegmann D</span>* (2022) <span class="papertitle">Between fishing and farming: palaeogenomic analyses reveal cross-cultural interactions triggered by the arrival of the neolithic in the danube gorges.</span> <span class="journal">bioRxiv</span>.</a></li>
<li><a href="https://doi.org/10.1101/2024.06.10.598301" target="_new">Tsoupas A, <span class="labauthor">Reyna-Blanco C</span>, Quilodrán C, Blöcher J, Brami M, <span class="labauthor">Wegmann D</span>, Burger J &amp; Currat M (2024) <span class="papertitle">Local increases in admixture with hunter-gatherers followed the initial expansion of neolithic farmers across continental europe.</span> <span class="journal">bioRxiv</span>.</a></li>
<li><a href="https://doi.org/10.1101/2025.01.08.631844" target="_new"><span class="labauthor">Singer L</span>, <span class="labauthor">Caduff M</span>, <span class="labauthor">Aebischer T</span>, Tabiti P, <span class="labauthor">Freiberg A</span>, Ingensand J, Leuenberger C &amp; <span class="labauthor">Wegmann D</span> (2025) <span class="papertitle">Testing for changes in population trends from low-cost ecological count data.</span> <span class="journal">bioRxiv</span>.</a></li>
</ol>
<h4>2024</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1093/molbev/msae137" target="_new"><span class="labauthor">Reyna-Blanco C</span>, <span class="labauthor">Caduff M</span>, <span class="labauthor">Galimberti M</span>, Leuenberger C &amp; <span class="labauthor">Wegmann D</span> (2024) <span class="papertitle">Inference of locus-specific population mixtures from linked genome-wide allele frequencies.</span> <span class="journal">Mol.Biol.Evol. 41(7):msae137</span>.</a></li>
<li><a href="https://doi.org/https://doi.org/10.1111/1755-0998.13913" target="_new"><span class="labauthor">Caduff M</span>, <span class="labauthor">Eckel R</span>, Leuenberger C &amp; <span class="labauthor">Wegmann D</span> (2024) <span class="papertitle">Accurate bayesian inference of sex chromosome karyotypes and sex-linked scaffolds from low-depth sequencing data.</span> <span class="journal">Mol.Ecol.Resour. 24(3):e13913</span>.</a></li>
</ol>
<h4>2023</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/https://doi.org/10.1111/ele.14288" target="_new">Volery L, Vaz Fernandez M, <span class="labauthor">Wegmann D</span> &amp; Bacher S (2023) <span class="papertitle">A general framework to quantify and compare ecological impacts under temporal dynamics.</span> <span class="journal">Ecol.Lett. 26(10):1726-1739</span>.</a></li>
<li><a href="https://doi.org/https://doi.org/10.1016/j.cub.2023.02.077" target="_new"><span class="labauthor">Wegmann D</span> &amp; <span class="labauthor">Eckel R</span> (2023) <span class="papertitle">Human evolution: when admixture met selection.</span> <span class="journal">Curr.Biol. 33(7):R259-R261</span>.</a></li>
<li><a href="https://doi.org/https://doi.org/10.1016/j.biocon.2023.110039" target="_new"><span class="labauthor">Singer L</span>, <span class="labauthor">Wietlisbach X</span>, Hickisch R, Schoell E, Leuenberger C, Van den Broek A, Désalme M, Driesen K, Lyly M, Marucco F, Kutal M, Pagon N, Papp C, Milioni P, Uzdras R, Zihmanis I, Zimmermann F, Marsden K, Hackländer K, López-Bao J, Klenzendorf S &amp; <span class="labauthor">Wegmann D</span> (2023) <span class="papertitle">The spatial distribution and temporal trends of livestock damages caused by wolves in europe.</span> <span class="journal">Biol.Conserv. 282:110039</span>.</a></li>
<li><a href="https://doi.org/10.1101/2022.06.07.495159" target="_new"><span class="labauthor">Luqman H</span>, <span class="labauthor">Wegmann D</span>, Fior S &amp; Widmer A (2023) <span class="papertitle">Climate-induced range shifts drive adaptive response via spatio-temporal sorting of alleles.</span> <span class="journal">Nat.Commun. 14(1)</span>.</a></li>
</ol>
<h4>2022</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/https://doi.org/10.1007/s10530-022-02858-8" target="_new">Probert A, <span class="labauthor">Wegmann D</span>, Volery L, Adriaens T, Bakiu R, Bertolino S, Essl F, Gervasini E, Groom Q, Latombe G, Marisavljevic D, Mumford J, Pergl J, Preda C, Roy H, Scalera R, Teixeira H, Tricarico E, Vanderhoeven S &amp; Bacher S (2022) <span class="papertitle">Identifying, reducing, and communicating uncertainty in community science: a focus on alien species.</span> <span class="journal">Biol.Invasions</span>.</a></li>
<li><a href="https://doi.org/10.1038/s41598-022-16745-8" target="_new">Silva N, Kreutzer S, Souleles A, Triantaphyllou S, Kotsakis K, Urem-Kotsou D, Halstead P, Efstratiou N, Kotsos S, Karamitrou-Mentessidi G, Adaktylou F, Chondroyianni-Metoki A, Pappa M, Ziota C, Sampson A, Papathanasiou A, Vitelli K, Cullen T, Kyparissi-Apostolika N, Lanz A, Peters J, Rio J, <span class="labauthor">Wegmann D</span>, Burger J, Currat M &amp; Papageorgopoulou C (2022) <span class="papertitle">Ancient mitochondrial diversity reveals population homogeneity in neolithic greece and identifies population dynamics along the danubian expansion axis.</span> <span class="journal">Sci.rep. 12(1):1--15</span>.</a></li>
<li><a href="https://doi.org/https://doi.org/10.1016/j.cell.2022.04.008" target="_new">Marchi N*, Winkelbach L*, <span class="labauthor">Schulz I</span>*, Brami M*, <span class="labauthor">Hofmanová Z</span>, Blöcher J, <span class="labauthor">Reyna-Blanco C</span>, Diekmann Y, Thiéry A, Kapopoulou A, <span class="labauthor">Link V</span>, Piuz V, Kreutzer S, Figarska S, Ganiatsou E, Pukaj A, Struck T, Gutenkunst R, Karul N, Gerritsen F, Pechtl J, Peters J, Zeeb-Lanz A, Lenneis E, Teschler-Nicola M, Triantaphyllou S, Stefanović S, Papageorgopoulou C, <span class="labauthor">Wegmann D</span>*, Burger J* &amp; Excoffier L* (2022) <span class="papertitle">The genomic origins of the world’s first farmers.</span> <span class="journal">Cell 185(11):1842-1859.e18</span>.</a></li>
</ol>
<h4>2021</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1186/s12862-021-01940-4" target="_new">Garcìa-Navas V, Tobias J, Schweizer M, <span class="labauthor">Wegmann D</span>, Schodde R, Norman J &amp; Christidis L (2021) <span class="papertitle">Trophic niche shifts and phenotypic trait evolution are largely decoupled in australasian parrots.</span> <span class="journal">BMCEcol.Evol. 21(1):212</span>.</a></li>
<li><a href="https://doi.org/10.1111/1755-0998.13415" target="_new"><span class="labauthor">Luqman H</span>, Widmer A, Fior S* &amp; <span class="labauthor">Wegmann D</span>* (2021) <span class="papertitle">Identifying loci under selection via explicit demographic models.</span> <span class="journal">Mol.Ecol.Resour. 21(8):2719-2737</span>.</a></li>
<li><a href="https://doi.org/10.1126/sciadv.abg1245" target="_new">Louis M, <span class="labauthor">Galimberti M</span>, Archer F, Berrow S, Brownlow A, Fallon R, Nykänen M, O’Brien J, Roberston K, Rosel P, Simon-Bouhet B, <span class="labauthor">Wegmann D</span>, Fontaine M, Foote A &amp; Gaggiotti O (2021) <span class="papertitle">Selection on ancestral genetic variation fuels repeated ecotype formation in bottlenose dolphins.</span> <span class="journal">Sci.Adv. 7(44):eabg1245</span>.</a></li>
<li><a href="https://doi.org/10.1038/s41598-021-89090-x" target="_new">Žegarac A, Winkelbach L, Blöcher J, Diekmann Y, Gavrilović M, Porčić M, Stojković B, Milašinović L, Schreiber M, <span class="labauthor">Wegmann D</span>, Veeramah K, Stefanović S &amp; Burger J (2021) <span class="papertitle">Ancient genomes provide insights into family structure and the heredity of social status in the early bronze age of southeastern europe.</span> <span class="journal">Sci.Rep. 11:10072</span>.</a></li>
<li><a href="https://doi.org/10.1016/j.jas.2021.105333" target="_new">Macháček J, Nedoma R, Dresler P, <span class="labauthor">Schulz I</span>, Lagonik E, Johnson S, Kaňáková L, Slámová A, Llamas B, <span class="labauthor">Wegmann D</span>* &amp; <span class="labauthor">Hofmanová Z</span>* (2021) <span class="papertitle">Runes from l\'any (czech republic) - the oldest inscription among slavs. A new standard for multidisciplinary analysis of runic bones.</span> <span class="journal">J.Archaeol.Sci. 127:105333</span>.</a></li>
<li><a href="https://doi.org/10.1111/ecog.05411" target="_new"><span class="labauthor">Ait Kaci Azzou S</span>, <span class="labauthor">Singer L</span>, <span class="labauthor">Aebischer T</span>, <span class="labauthor">Caduff M</span>, Wolf B &amp; <span class="labauthor">Wegmann D</span> (2021) <span class="papertitle">A sparse observation model to quantify species distributions and their overlap in space and time.</span> <span class="journal">Ecography 44(6):928--940</span>.</a></li>
</ol>
<h4>2020</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/https://doi.org/10.1002/evl3.165" target="_new">Dehasque M, Ávila-Arcos M, Díez-del-Molino D, Fumagalli M, Guschanski K, Lorenzen E, Malaspinas A, Marques-Bonet T, Martin M, Murray G, Papadopulos A, Therkildsen N, <span class="labauthor">Wegmann D</span>, Dalén L &amp; Foote A (2020) <span class="papertitle">Inference of natural selection from ancient dna.</span> <span class="journal">Evol.Lett. 4(2):94-108</span>.</a></li>
<li><a href="https://doi.org/10.1111/1755-0998.13153" target="_new"><span class="labauthor">Bresadola L</span>, <span class="labauthor">Link V</span>, Buerkle C, Lexer C &amp; <span class="labauthor">Wegmann D</span> (2020) <span class="papertitle">Estimating and accounting for genotyping errors in rad-seq experiments.</span> <span class="journal">Mol.Ecol.Resour. 20(4):856-870</span>.</a></li>
<li><a href="https://doi.org/10.1534/genetics.120.303780" target="_new"><span class="labauthor">Galimberti M</span>, Leuenberger C, Wolf B, Szilágyi S, Foll M &amp; <span class="labauthor">Wegmann D</span> (2020) <span class="papertitle">Detecting selection from linked sites using an f-model.</span> <span class="journal">Genetics 216(4):1205-1215</span>.</a></li>
<li><a href="https://doi.org/10.1016/j.cub.2020.08.033" target="_new">Burger J*, <span class="labauthor">Link V</span>*, Blöcher J, Schulz A, Sell C, <span class="labauthor">Pochon Z</span>, Diekmann Y, Žegarac A, <span class="labauthor">Hofmanová Z</span>, Winkelbach L, <span class="labauthor">Reyna-Blanco C</span>, Bieker V, Orschiedt J, Brinker U, Scheu A, Leuenberger C, Bertino T, Bollongino R, Lidke G, Stefanović S, Jantzen D, Kaiser E, Terberger T, Thomas M, Veeramah K &amp; <span class="labauthor">Wegmann D</span> (2020) <span class="papertitle">Low prevalence of lactase persistence in bronze age europe indicates ongoing strong selection over the last 3,000 years.</span> <span class="journal">Curr.Biol. 30(21):4307--4315</span>.</a></li>
<li><a href="https://doi.org/https://doi.org/10.1016/j.biocon.2019.108326" target="_new"><span class="labauthor">Aebischer T</span>, Ibrahim T, Hickisch R, Furrer R, Leuenberger C &amp; <span class="labauthor">Wegmann D</span> (2020) <span class="papertitle">Apex predators decline after an influx of pastoralists in former central african republic hunting zones.</span> <span class="journal">Biol.Conserv. 241:108326</span>.</a></li>
</ol>
<h4>2019</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/https://doi.org/10.1002/9781119487845.ch1" target="_new"><span class="labauthor">Wegmann D</span> &amp; Leuenberger C (2019) <span class="papertitle">Statistical modeling and inference in genetics.</span> <span class="journal">Handbook of Statistical Genomics</span>, edited by Balding D, Moltke I &amp; Marioni J, pages 1--50.</a></li>
<li><a href="https://doi.org/10.1111/nph.15930" target="_new"><span class="labauthor">Bresadola L</span>, Caseys C, Castiglione S, Buerkle C*, <span class="labauthor">Wegmann D</span>* &amp; Lexer C* (2019) <span class="papertitle">Admixture mapping in interspecific populus hybrids identifies classes of genomic architectures for phytochemical, morphological and growth traits.</span> <span class="journal">NewPhytol. 223(4):2076--2089</span>.</a></li>
<li><a href="https://doi.org/10.1111/tpj.14435" target="_new">Gros-Balthazard M, Besnard G, Sarah G, Holtz Y, Leclercq J, Santoni S, <span class="labauthor">Wegmann D</span>, Glémin S* &amp; Khadari B* (2019) <span class="papertitle">Evolutionary transcriptomics reveals the origins of olives and the genomic changes associated with their domestication.</span> <span class="journal">PlantJ. 100(1):143--157</span>.</a></li>
</ol>
<h4>2018</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1201/9781315117195-13" target="_new"><span class="labauthor">Kousathanas A</span>, <span class="labauthor">Duchen P</span> &amp; <span class="labauthor">Wegmann D</span> (2018) <span class="papertitle">A guide to general-purpose abc software.</span> <span class="journal">Handbook of Approximate Bayesian Computation</span>, edited by Sisson S, Fan Y &amp; Beaumont M, pages 369--413.</a></li>
<li><a href="https://doi.org/10.1073/pnas.1719880115" target="_new">Veeramah K, Rott A*, Groß M*, Van Dorp L, López S, Kirsanow K, Sell C, Blöcher J, <span class="labauthor">Wegmann D</span>, <span class="labauthor">Link V</span>, <span class="labauthor">Hofmanová Z</span>, Peters J, Trautmann B, Gairhos A, Haberstroh J, Päffgen B, Hellenthal G, Haas-Gebhard B, Harbeck M* &amp; Burger J* (2018) <span class="papertitle">Population genomic analysis of elongated skulls reveals extensive female-biased immigration in early medieval bavaria.</span> <span class="journal">Proc.Natl.Acad.Sci.U.S.A. 115(13):3494--3499</span>.</a></li>
<li><a href="https://doi.org/10.1126/science.aar6851" target="_new">Scheib C, Li H, Desai T, <span class="labauthor">Link V</span>, Kendall C, Dewar G, Griffith P, Mörseburg A, Johnson J, Potter A, Kerr S, Endicott P, Lindo J, Haber M, Xue Y, Tyler-Smith C, Sandhu M, Lorenz J, Randall T, Faltyskova Z, Pagani L, Danecek P, O'Connell T, Martz P, Boraas A, Byrd B, Leventhal A, Cambra R, Williamson R, Lesage L, Holguin B, Soto E, Rosas J, Metspalu M, Stock J, Manica A, Scally A, <span class="labauthor">Wegmann D</span>, Malhi R &amp; Kivisild T (2018) <span class="papertitle">Ancient human parallel lineages within north america contributed to a coastal expansion.</span> <span class="journal">Science 360(6392):1024--1027</span>.</a></li>
</ol>
<h4>2017</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1016/j.biocon.2017.06.031" target="_new"><span class="labauthor">Aebischer T</span>, Siguindo G, Rochat E, Arandjelovic M, Heilman A, Hickisch R, Vigilant L, Joost S, <span class="labauthor">Wegmann D</span>, Thierry A, Guy S, Estelle R, Mimi A, Amy H, Raffael H, Linda V, Stéphane J &amp; Daniel W (2017) <span class="papertitle">First quantitative survey delineates the distribution of chimpanzees in the eastern central african republic.</span> <span class="journal">Biol.Conserv. 213(November 2016):84--94</span>.</a></li>
<li><a href="https://doi.org/10.1016/j.cub.2017.06.045" target="_new"><span class="labauthor">Gros-Balthazard M</span>, <span class="labauthor">Galimberti M</span>, <span class="labauthor">Kousathanas A</span>, Newton C, Ivorra S, Paradis L, Vigouroux Y, Carter R, Tengberg M, Battesti V, Santoni S, Falquet L, Pintaud J, Terral J, <span class="labauthor">Wegmann D</span>, Sylvain S, Falquet L, Pintaud J, Terral J* &amp; <span class="labauthor">Wegmann D</span>* (2017) <span class="papertitle">The discovery of wild date palms in oman reveals a complex domestication history involving centers in the middle east and africa.</span> <span class="journal">Curr.Biol. 27(14):2211--2218</span>.</a></li>
<li><a href="https://doi.org/10.1371/journal.pone.0169615" target="_new">Fonseca Costa S, <span class="labauthor">Wegmann D</span>* &amp; Ripperger J* (2017) <span class="papertitle">Normalisation against circadian and age-related disturbances enables robust detection of gene expression changes in liver of aged mice.</span> <span class="journal">PlosOne 12(1):e0169615</span>.</a></li>
<li><a href="https://doi.org/10.1093/sysbio/syx028" target="_new"><span class="labauthor">Duchen P</span>, Leuenberger C, Szilágyi S, Harmon L, Eastman J, Schweizer M &amp; <span class="labauthor">Wegmann D</span> (2017) <span class="papertitle">Inference of evolutionary jumps in large phylogenies using l\'evy processes.</span> <span class="journal">Syst.Biol. 66(6):950--963</span>.</a></li>
<li><a href="https://doi.org/10.1534/genetics.116.189985" target="_new"><span class="labauthor">Kousathanas A</span>, Leuenberger C, <span class="labauthor">Link V</span>, Sell C, Burger J &amp; <span class="labauthor">Wegmann D</span> (2017) <span class="papertitle">Inferring heterozygosity from ancient and low coverage genomes.</span> <span class="journal">Genetics 205(1):317--332</span>.</a></li>
</ol>
<h4>2016</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1126/science.aaf7943" target="_new">Broushaki F, Thomas M, <span class="labauthor">Link V</span>, López S, van Dorp L, Kirsanow K, Hofmanová Z, Diekmann Y, Cassidy L, Díez-del-Molino D, <span class="labauthor">Kousathanas A</span>, Sell C, Robson H, Martiniano R, Blöcher J, Scheu A, Kreutzer S, Bollongino R, Bobo D, Davoudi H, Munoz O, Currat M, Abdi K, Biglari F, Craig O, Bradley D, Shennan S, Veeramah K, Mashkour M, <span class="labauthor">Wegmann D</span>*, Hellenthal G* &amp; Burger J* (2016) <span class="papertitle">Early neolithic genomes from the eastern fertile crescent.</span> <span class="journal">Science 353(6298):499--503</span>.</a></li>
<li><a href="https://doi.org/10.1534/genetics.115.184598" target="_new"><span class="labauthor">Ferrer-Admetlla A</span>, Leuenberger C, Jensen J &amp; <span class="labauthor">Wegmann D</span> (2016) <span class="papertitle">An approximate markov model for the wright\textendashfisher diffusion and its application to time series data.</span> <span class="journal">Genetics 203(2):831--846</span>.</a></li>
<li><a href="https://doi.org/10.1111/jbi.12738" target="_new">Liu Y, Hu J, Li S, <span class="labauthor">Duchen P</span>, <span class="labauthor">Wegmann D</span> &amp; Schweizer M (2016) <span class="papertitle">Sino-himalayan mountains act as cradles of diversity and immigration centres in the diversification of parrotbills (paradoxornithidae).</span> <span class="journal">J.Biogeogr. 43:1488--1501</span>.</a></li>
<li><a href="https://doi.org/10.1111/mec.13587" target="_new">Christe C, Stölting K, <span class="labauthor">Bresadola L</span>, Fussi B, Heinze B, <span class="labauthor">Wegmann D</span> &amp; Lexer C (2016) <span class="papertitle">Selection against recombinant hybrids maintains reproductive isolation in hybridizing \textitpopulus species despite f\textsubscript1 fertility and recurrent gene flow.</span> <span class="journal">Mol.Ecol.</span>.</a></li>
<li><a href="https://doi.org/10.1534/genetics.116.187567" target="_new"><span class="labauthor">Kousathanas A</span>, Leuenberger C, <span class="labauthor">Wegmann D</span>, <span class="labauthor">Helfer J</span>, <span class="labauthor">Quinodoz M</span>, Foll M &amp; <span class="labauthor">Wegmann D</span> (2016) <span class="papertitle">Likelihood-free inference in high-dimensional models.</span> <span class="journal">Genetics 203(2):893--904</span>.</a></li>
<li><a href="https://doi.org/10.1073/pnas.1523951113" target="_new">Hofmanová Z*, Kreutzer S*, Hellenthal G, Sell C, Diekmann Y, Díez-Del-Molino D, van Dorp L, López S, <span class="labauthor">Kousathanas A</span>, <span class="labauthor">Link V</span>, Kirsanow K, Cassidy L, Martiniano R, Strobel M, Scheu A, Kotsakis K, Halstead P, Triantaphyllou S, Kyparissi-Apostolika N, Urem-Kotsou D, Ziota C, Adaktylou F, Gopalan S, Bobo D, Winkelbach L, Blöcher J, Unterländer M, Leuenberger C, Çilingiroğlu Ç, Horejs B, Gerritsen F, Shennan S, Bradley D, Currat M, Veeramah K, <span class="labauthor">Wegmann D</span>, Thomas M, Papageorgopoulou C &amp; Burger J (2016) <span class="papertitle">Early farmers from across europe directly descended from neolithic aegeans.</span> <span class="journal">Proc.Natl.Acad.Sci.U.S.A. 113(25):6886--6891</span>.</a></li>
</ol>
<h4>2015</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.3389/fgene.2015.00314" target="_new">Bruford M, Ginja C, Hoffmann I, Joost S, Wengel P, Alberto F, Amaral A, Barbato M, Biscarini F, Colli L, Costa M, Curik I, Duruz S, Ferencakovic M, Fischer D, Fitak R, Groeneveld L, Hall S, Hanotte O, Hassan F, Helsen P, Iacolina L, Kantanen J, Leempoel K, Lenstra J, Ajmone-Marsan P, Masembe C, Megens H, Miele M, Neuditschko M, Nicolazzi E, Pompanon F, Roosen J, Sevane N, Smetko A, Štambuk A, Streeter I, Stucki S, Supakorn C, Da Gama L, Tixier-Boichard M, <span class="labauthor">Wegmann D</span> &amp; Zhan X (2015) <span class="papertitle">Prospects and challenges for the conservation of farm animal genomic resources, 2015-2025.</span> <span class="journal">Front.Genet. 6(OCT):1--11</span>.</a></li>
</ol>
<h4>2014</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1111/mec.12729" target="_new">Dussex N, <span class="labauthor">Wegmann D</span> &amp; Robertson B (2014) <span class="papertitle">Postglacial expansion and not human influence best explains the population structure in the endangered kea \textitnestor notabilis.</span> <span class="journal">Mol.Ecol. 23(9):2193--2209</span>.</a></li>
<li><a href="https://doi.org/10.1111/mec.12715" target="_new">Gray M, <span class="labauthor">Wegmann D</span>, Haasl R, a M White M, Gabriel S, Searle J, Cuthbert R, Ryan P &amp; a B Payseur B (2014) <span class="papertitle">Demographic history of a recent invasion of house mice on the isolated island of gough..</span> <span class="journal">Mol.ecol. 23(8):1923--1939</span>.</a></li>
<li><a href="https://doi.org/10.1038/ejhg.2013.297" target="_new">Zawistowski M*, Reppell M*, <span class="labauthor">Wegmann D</span>, St Jean P, Ehm M, Nelson M, Novembre J &amp; Zöllner S (2014) <span class="papertitle">Analysis of rare variant population structure in europeans explains differential stratification of gene-based tests..</span> <span class="journal">Eur.j.hum.genet.</span>.</a></li>
<li><a href="https://doi.org/10.1111/mec.12604" target="_new"><span class="labauthor">Wegmann D</span> &amp; Currat M (2014) <span class="papertitle">Recipient of the 2013 molecular ecology prize: laurent excoffier..</span> <span class="journal">Mol.ecol. 23(1):16--9</span>.</a></li>
<li><a href="https://doi.org/10.1371/journal.pgen.1004185" target="_new">Foll M*, Poh Y*, Renzette N, <span class="labauthor">Ferrer-Admetlla A</span>, Bank C, Shim H, Malaspinas A, Ewing G, Liu P, <span class="labauthor">Wegmann D</span>, Caffrey D, Zeldovich K, Bolon D, Wang J, Kowalik T, a C Schiffer C, Finberg R &amp; Jensen J (2014) <span class="papertitle">Influenza virus drug resistance: a time-sampled population genetics perspective..</span> <span class="journal">PLoSgenet. 10(2):e1004185</span>.</a></li>
<li><a href="https://doi.org/10.1093/molbev/msu246" target="_new">Adrion J*, <span class="labauthor">Kousathanas A</span>*, Pascual M, Burrack H, Haddad N, Bergland A, Machado H, Sackton T, a T Schlenke T, Watada M, <span class="labauthor">Wegmann D</span>* &amp; Singh N* (2014) <span class="papertitle">Drosophila suzukii: the genetic footprint of a recent, worldwide invasion.</span> <span class="journal">Mol.biol.evol.</span>.</a></li>
</ol>
<h4>2013</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1093/molbev/mst140" target="_new">Chu J*, <span class="labauthor">Wegmann D</span>*, Yeh C, Lin R, Yang X, Lei F, Yao C, Zou F &amp; Li S (2013) <span class="papertitle">Inferring the geographic mode of speciation by contrasting autosomal and sex-linked genetic diversity.</span> <span class="journal">Mol.Biol.Evol. 30(11):2519-2530</span>.</a></li>
<li><a href="https://doi.org/10.1101/gr.154971.113" target="_new">Schaibley V, Zawistowski M, <span class="labauthor">Wegmann D</span>, Ehm M, Nelson M, St Jean P, Abecasis G, Novembre J, Zöllner S &amp; Li J (2013) <span class="papertitle">The influence of genomic context on mutation patterns in the human genome inferred from rare variants..</span> <span class="journal">Genomeres. 23(12):1974--84</span>.</a></li>
</ol>
<h4>2012</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1002/humu.22075" target="_new">Rubio J, Topp S*, Warren L*, St Jean P, <span class="labauthor">Wegmann D</span>, Kessner D, Novembre J, Shen J, Fraser D, Aponte J, Nangle K, Cardon L, Ehm M, Chissoe S, Whittaker J, Nelson M &amp; Mooser V (2012) <span class="papertitle">Deep sequencing of the lrrk2 gene in 14,002 individuals reveals evidence of purifying selection and independent origin of the p.arg1628pro mutation in europe..</span> <span class="journal">Hum.mutat. 33(7):1087--98</span>.</a></li>
<li><a href="https://doi.org/10.1126/science.1217876" target="_new">Nelson M*, <span class="labauthor">Wegmann D</span>*, Ehm M, Kessner D, St. Jean P, Verzilli C, Shen J, Tang Z, Bacanu S, Fraser D, Warren L, Aponte J, Zawistowski M, Liu X, Zhang H, Zhang Y, Li J, Li Y, Li L, Woollard P, Topp S, Hall M, Nangle K, Wang J, Abecasis G, Cardon L, Zöllner S, Whittaker J, Chissoe S, Novembre J* &amp; Mooser V* (2012) <span class="papertitle">An abundance of rare functional variants in 202 drug target genes sequenced in 14,002 people.</span> <span class="journal">Science 337(6090):100--104</span>.</a></li>
<li><a href="https://doi.org/10.1038/ng.2232" target="_new">Stahl E, <span class="labauthor">Wegmann D</span>, Trynka G, Gutierrez-Achury J, Do R, Voight B, Kraft P, Chen R, Kallberg H, Kurreeman F, Kathiresan S, Wijmenga C, Gregersen P, Alfredsson L, Siminovitch K, Worthington J, De Bakker P, Raychaudhuri S &amp; Plenge R (2012) <span class="papertitle">Bayesian inference analyses of the polygenic architecture of rheumatoid arthritis.</span> <span class="journal">Nat.Genet. 44(5):483--489</span>.</a></li>
</ol>
<h4>2011</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1111/j.1558-5646.2011.01474.x" target="_new">Slater G, Harmon L, <span class="labauthor">Wegmann D</span>, Joyce P, Revell L &amp; Alfaro M (2011) <span class="papertitle">Fitting mmdels of continuous trait evolution to incompletely sampled comparative data using approximate bayesian computation.</span> <span class="journal">Evolution</span>.</a></li>
<li><a href="https://doi.org/10.1038/ejhg.2011.65" target="_new">Veeramah K*, Tönjes A*, Kovacs P, Gross A, <span class="labauthor">Wegmann D</span>, Geary P, Gasperikova D, Klimes I, Scholz M, Novembre J &amp; Stumvoll M (2011) <span class="papertitle">Genetic variation in the sorbs of eastern germany in the context of broader european genetic diversity..</span> <span class="journal">Eur.j.hum.genet. 19(9):995--1001</span>.</a></li>
<li><a href="https://doi.org/10.1186/1471-2148-11-85" target="_new">Thalmann O*, <span class="labauthor">Wegmann D</span>*, Spitzner M, Arandjelovic M, Guschanski K, Leuenberger C, Bergl R &amp; Vigilant L (2011) <span class="papertitle">Historical sampling reveals dramatic demographic changes in western gorilla populations..</span> <span class="journal">BMCevol.biol. 11(1):85</span>.</a></li>
<li><a href="https://doi.org/10.1093/molbev/msr212" target="_new">Veeramah K, <span class="labauthor">Wegmann D</span>, Woerner A, Mendez F, Watkins J, Destro-Bisol G, Soodyall H, Louie L &amp; Hammer M (2011) <span class="papertitle">An early divergence of khoesan ancestors from those of other modern humans is supported by an abc-based analysis of autosomal re-sequencing data.</span> <span class="journal">Mol.Biol.Evol. 29(2):617--630</span>.</a></li>
<li><a href="https://doi.org/10.1038/ng.894" target="_new"><span class="labauthor">Wegmann D</span>, Kessner D, Veeramah K, Mathias R, Nicolae D, Yanek L, Sun Y, Torgerson D, Rafaels N, Mosley T, Becker L, Ruczinski I, Beaty T, Kardia S, Meyers D, Barnes K, Becker D, Freimer N &amp; Novembre J (2011) <span class="papertitle">Recombination rates in admixed individuals identified by ancestry-based inference.</span> <span class="journal">Nat.Genet. 43(9):847--853</span>.</a></li>
</ol>
<h4>2010</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1186/1471-2105-11-116" target="_new"><span class="labauthor">Wegmann D</span>, Leuenberger C, Neuenschwander S &amp; Excoffier L (2010) <span class="papertitle">Abctoolbox: a versatile toolkit for approximate bayesian computations..</span> <span class="journal">BMCbioinform. 11:116</span>.</a></li>
<li><a href="https://doi.org/10.1093/molbev/msq028" target="_new"><span class="labauthor">Wegmann D</span> &amp; Excoffier L (2010) <span class="papertitle">Bayesian inference of the demographic history of chimpanzees..</span> <span class="journal">Mol.biol.evol. 27(6):1425--35</span>.</a></li>
<li><a href="https://doi.org/10.1111/j.1365-294X.2010.04783.x" target="_new">Peter B, <span class="labauthor">Wegmann D</span> &amp; Excoffier L (2010) <span class="papertitle">Distinguishing between population bottleneck and population subdivision by a bayesian model choice procedure..</span> <span class="journal">Mol.ecol. 19(21):4648--60</span>.</a></li>
<li><a href="https://doi.org/10.1093/molbev/msp238" target="_new">Ray N, <span class="labauthor">Wegmann D</span>, Fagundes N, Wang S, Ruiz-Linares A &amp; Excoffier L (2010) <span class="papertitle">A statistical evaluation of models for the initial settlement of the american continent emphasizes the importance of gene flow with asia..</span> <span class="journal">Mol.biol.evol. 27(2):337--345</span>.</a></li>
<li><a href="https://doi.org/10.1534/genetics.109.109058" target="_new">Leuenberger C &amp; <span class="labauthor">Wegmann D</span> (2010) <span class="papertitle">Bayesian computation and model selection without likelihoods..</span> <span class="journal">Genetics 184(1):243--52</span>.</a></li>
</ol>
<h4>2009</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1534/genetics.109.102509" target="_new"><span class="labauthor">Wegmann D</span>, Leuenberger C &amp; Excoffier L (2009) <span class="papertitle">Efficient approximate bayesian computation coupled with markov chain monte carlo without likelihood..</span> <span class="journal">Genetics 182(4):1207--18</span>.</a></li>
<li><a href="https://doi.org/10.1111/j.1469-1809.2008.00489.x" target="_new">Hofer T, Ray N, <span class="labauthor">Wegmann D</span> &amp; Excoffier L (2009) <span class="papertitle">Large allele frequency differences between human continental groups are more likely to have occurred by drift during range expansions than by selection..</span> <span class="journal">Ann.hum.genet. 73(1):95--108</span>.</a></li>
</ol>
<h4>2008</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1371/journal.pone.0003587" target="_new"><span class="labauthor">Wegmann D</span>, Dupanloup I &amp; Excoffier L (2008) <span class="papertitle">Width of gene expression profile drives alternative splicing..</span> <span class="journal">PloSone 3(10):e3587</span>.</a></li>
</ol>
<h4>2006</h4><ol class="paperlistcontinue">
<li><a href="https://doi.org/10.1534/genetics.106.062851" target="_new"><span class="labauthor">Wegmann D</span>, Currat M &amp; Excoffier L (2006) <span class="papertitle">Molecular diversity after a range expansion in heterogeneous environments..</span> <span class="journal">Genetics 174(4):2009--20</span>.</a></li>
</ol>
    </div>
    <div class="col-md-4 inner-10">
         
<div class="row">
  
</div>
<div class="row inner cp-card-1col peoplelist" data-wrapper="2" data-id="6784d54f2fe85" id="peoplelist-6784d54f2fe85">
    

<div class="col-sm-12 inner-05">
    <article class="box inner-05 bg-grey-light shadow" data-search="Daniel Wegmann Professor, Lecturer PER 23 +41 26 300 8949 1.03">

        <div class="box--banner box-people banner">

            <img src="https://admin.unifr.ch/indigo/photo/119785/26387f3d71edda782477e57eb33f15e368a748d2" alt="">

        </div>

        <h5>Daniel Wegmann</h5>
        
            <p>Professor, Lecturer</p>
            
        
        
        


        <p>
            <i class="fa fa-map-marker fa-fw right-05" title="Office" aria-hidden="true"></i> PER 23 - 1.03<br />
            <i class="fa fa-phone fa-fw right-05" aria-hidden="true"></i> <a href="tel:+41 26 300 8949">+41 26 300 8949</a><br />
            <i class="fa fa-envelope fa-fw right-05" title="E-mail" aria-hidden="true"></i> <a href="mailto:daniel.wegmann@unifr.ch">E-mail</a>
        </p>
        <p>
            
            
            
            
            
        </p>
    </article>
</div>

</div>
<!-- https://webapps.unifr.ch/campusviews/api/v2/view/237 ### 11-11 -->

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/">Research</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/group-members-wegmann.html">Group Members</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="https://www.unifr.ch/bio/en/groups/wegmann/software-and-data.html">Software &amp; Data</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="https://unifr-websites.bitbucket.io/outreach_wegmann.html">Media &amp; Outreach</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/wegmann-join.html">Join us!</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link external" href="https://www.sib.swiss/wegmann-daniel" target="_blank">Swiss&nbsp;Inst.&nbsp;of Bioinfo.</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p><a class="link external" href="../../timetable/en/?&amp;texte=Daniel%20Wegmann&amp;semestres=&amp;page=1" target="_blank">Courses</a></p>

</div>

<div class="box bg-grey-light inner-05">
<p>Department of Biology<br>Chemin du Musée 15<br>CH-1700 Fribourg<br>Switzerland</p>
<p>&nbsp;</p>
<p><a class="link gfx gfx-arrow-right" href="groups/wegmann/wegmann-where.html">How to find us</a></p>

</div>       
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="https://www.unifr.ch/bio/en/department/">DEPARTMENT</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/department/organisation.html" title="Organisation" >Organisation</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/staff/" title="Staff" >Staff</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/professorships.html" title="SNSF Professorships" >SNSF Professorships</a></li>
<li><a href="https://www.unifr.ch/bio/en/department/jobs.html" title="Open Positions" >Open Positions</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/department/contact.html" title="Contact" >Contact</a></li>
</ul>

<h6><a href="https://www.unifr.ch/bio/en/services/">SERVICES</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/services/facilities/" title="Facilities & Core Services" >Facilities & Core Services</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="https://www.unifr.ch/bio/en/studies/">STUDIES</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/studies/bachelor/" title="Bachelor" >Bachelor</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/master/" title="Master" >Master</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/doctorate/" title="Doctorate" >Doctorate</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/graduate-school-fglm/" title="Graduate School FGLM" >Graduate School FGLM</a></li>
<li><a href="https://www3.unifr.ch/scimed/fr/studies/minors" title="Minors" >Minors</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/courses-and-exams.html" title="Courses and Exams" >Courses and Exams</a></li>
<li><a href="https://www.unifr.ch/bio/en/studies/apprenticeships/" title="Apprenticeships" 293>Apprenticeships</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/studies/fachschaft-alumni.html" title="Alumni & Fachschaft Biologie" >Alumni & Fachschaft Biologie</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="https://www.unifr.ch/bio/en/research/">RESEARCH</a></h6>
<ul><li class="first"><a href="https://www.unifr.ch/bio/en/research/groups-in-alphabetical-order/" title="Groups in alphabetical order" >Groups in alphabetical order</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biochemistry/" title="Biochemistry" >Biochemistry</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/bioinformatics/" title="Bioinformatics" >Bioinformatics</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/eco-evol/" title="Ecology and Evolution" >Ecology and Evolution</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/neuro-and-developmental-biology/" title="Neuro and Developmental Biology" >Neuro and Developmental Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/plant-and-microbial-biology/" title="Plant and Microbial Sciences" >Plant and Microbial Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/genetics/" title="Genetics" >Genetics</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/proteomic/" title="Proteomics" >Proteomic</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/conservation-biology/" title="Conservation Biology" >Conservation Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/animal-behaviour/" title="Animal Behaviour" >Animal Behaviour</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/regenerative-biology/" title="Regenerative Biology" >Regenerative Biology</a></li>
<li><a href="https://www.unifr.ch/bio/en/research/biological-control-and-invasions/" title="Biological control and Invasions" >Biological control and Invasions</a></li>
<li class="last"><a href="https://www.unifr.ch/bio/en/research/alumni-professors-and-group-leaders/" title="Alumni Professors & Group Leaders" >Alumni Professors & Group Leaders</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Contact</h6>
    <p>University of Fribourg</p>
    <p>Department of Biology</p>
    <p>Ch. du Musée 10</p>
    <p>CH-1700 Fribourg</p>
    
    <p><a href="mailto:adm-biol@unifr.ch" class="link">adm-biol@unifr.ch</a></p>
    <p><a href="https://www.unifr.ch/bio" class="link">www.unifr.ch/bio</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifrbiology" target="_blank" class="gfx gfx-facebook"></a>
        <a href="https://twitter.com/unifrBiology" target="_blank" class="gfx gfx-twitter"></a>
        <a href="https://www.youtube.com/channel/UCfi1kGt2CrkAa7FKCXbYNow" target="_blank" class="fa fa-youtube-play"></a>
        <a href="https://www.linkedin.com/showcase/unifrbiology" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/unifrbiology/" target="_blank" class="fa fa-instagram"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Fribourg",
    "addressRegion": "FR",
    "postalCode": "1700",
    "streetAddress": "Ch. du Musée 10"
  },
  "url" : "www.unifr.ch/bio",
  "name": "Department of Biology",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 026 300 8630",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>




    

                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; University of Fribourg | </span><a href="https://www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Legal Notice</a> | <a href="//www.unifr.ch/help">Emergency numbers</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<script src="//cdn.unifr.ch/uf/v2.4.3/js/shared.js"></script>
<script src="//cdn.unifr.ch/uf/v2.4.3/js/app.js"></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.3/js/lt_ie_10.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.3/js/polyfills.js"></script><![endif]-->







<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>


</body>
</html>
